In [ ]:
names = ['Tina', 'Sue', 'Brad']
myfile = open("names.txt", "w")
for item in names:
    myfile.write(item + '\n')
myfile.close()

In [1]:
myfile = open('test.txt', 'r')
for row in myfile:
    print(row[0:6] + ' exam on ' + row[12:14] + 'th at ' + row[22:28])
myfile.close()

APS111 exam on 20th at 9:30

APS111 exam on 20th at 2:00

APS164 exam on 18th at 9:30

In [ ]:
f = open("grades.txt", "r")
print(len(f.readlines()))
f.close()

In [3]:
grocery_list = open("groceries.txt", "r")
for item in grocery_list:
    
    item = item.upper()   
    print(item[0:2])
    
grocery_list.close()

AP
BA
KI

In [ ]:
string_a = "What a lovely day today!"
string_a[5:-5]

In [ ]:
andy = 'randy'
andy[0] = 'r'
print(andy)

In [ ]:
def my_func(x,y):
    print(x,y)
    return x, y

maxnum = 3
           
for i in range(1,maxnum):
    for j in range(1,maxnum):
        print(my_func(i,i))

In [2]:
message = "Hi!"
indices = [0, 2]

my_map = {}
for idx in indices:
    my_map[idx] = message[idx]

for idx in range(len(message)):
    print(idx, end=" ")
    if idx in my_map:
        print(my_map[idx])
    else:
        print("N/A")

0 H
1 N/A
2 !

In [ ]:
number_list = [40,60,80,100,120]

def calculator(s):
    " (list) -> list"
    divisor = len(s)
    new_list = [50, 70]
    i = 0
    
    while i<4:
        value = s[i] / divisor
        new_list.append(s[i])
        i +=1
        
    return new_list


print(calculator(number_list))

In [ ]:
d= {'Running': 45, 'Hiking': 101, 'Biking': 29, 'Walking': 9000}
d['Swimming']=10

d['Hiking']=20
d.pop('Running')

d.values()

In [ ]:
def fun1_iterative(n):
    while n >= 10:
        print(n)
        n //= 10
    print(n)

fun1_iterative(1000)

In [16]:
class Journey:
    def __init__(self, origin, destination, duration):
        self.origin = origin
        self.destination = destination
        self.duration = duration

journeys = [Journey('X', 'Y', 2.5), Journey('Y', 'Z', 1.8)]

times = []
for journey in journeys:
    times.append(journey.duration)
times.sort()
times.reverse()

print(times[0], times[1], sep = '!', end = '!!')

2.5!1.8!!

In [1]:
import pandas as pd

data = {'Name': ['Anna', 'Bob', 'Charlie', 'Diana', 'Evan'],
        'Age': [23, 35, 45, 32, 28],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']}

df = pd.DataFrame(data, index=['e', 'c', 'd', 'a', 'b'])
df.iloc[1:3].loc['d'].iloc[]

5

In [ ]:
class CityCounter:
    def __init__(self, people):
        self.people = people
    
    def count_city(self, city_name):
        count = 0
        for person in self.people:
            if person[2].lower() == city_name.lower():
                count += 1
        return count

# Example data and usage
people = [
    ("Alice", "Female", "London"),
    ("Bob", "Male", "Paris"),
    ("Charlie", "Male", "London")
]

counter = CityCounter(people)
print("People from London:", counter.count_city("London"))