## Question 1

In [110]:
smartphones = {
    'brands': ['Apple', 'Samsung', 'Google', 'OnePlus'],
    'specs': {
        'Apple': ('iPhone 12', 2020),
        'Samsung': ('Galaxy S20', 2020),
        'Google': ('Pixel 5', 2020),
        'OnePlus': ('8T', 2020)
    },
    'features': [
        ('Apple', 'iOS'),
        ('Samsung', 'Android'),
        ('Google', 'Stock Android'),
        ('OnePlus', 'Fast Charging')
    ]
}

print(smartphones['features'][-4:-2][0])
# print(smartphones['features'][-4:-2][0])

('Apple', 'iOS')

## Question 2

In [112]:
values = set(list('heyheyhey'))
print(values)

{'e', 'h', 'y'}

In [113]:
values1 = set(list('heyheyhey')) # {'e','h','y'}
values2 = {'h','e','l','l','o','t','h','e','r','e'} 
values3 = values1.intersection(values2) #values3 = {e ,h}

print(len(values3)) # 2
print(values3[0])

2

TypeError: 'set' object is not subscriptable

In [114]:
for i in values3:
    print(i)

e
h

## Question 3

In [116]:
lista = [1,2,3]
listb = lista
listb[0] = 4
print(lista)

[4, 2, 3]

In [119]:
def my_func(param = {'key1': 0, 'key2': 0}):
    
    for key in param:
        param[key] += 40
        
        # iteration 1 -> key1 = 50
        # iter 2 -> key2 = 60
        # iter 3 -> key3 = 70
    
    param['key4'] = 40  # create a key4
    
    print(id(param))
    
    param = dict(param) # local func space is different from global
    print('after over-writing:',id(param))
    
    param['key5'] = 70
        
arg = {'key1':10, 'key2':20, 'key3': 30}

print(id(arg))
my_func(arg)


print(arg)

140338785601344
140338785601344
after over-writing: 140338785600256
{'key1': 50, 'key2': 60, 'key3': 70, 'key4': 40}

## Question 4

In [120]:
my_result = ""
for i in range(221, 209, -4): # 221, 217, 213
    
    my_result += str(i)[-2] 
    
    # iter 1 -> '221' -> '2'
    # iter 2 -> '217' -> '1'
    # iter 3 -> '213' -> '1'
    
print(my_result)   #211

211

## Question 5

In [123]:
class Digit:
    def __init__(self, digit):
        self.digit = digit 
        
digit1 = Digit(1)
digit2 = Digit(3)
print(digit1.digit)
print(digit2.digit)

1
3

In [124]:
class Digit:
    def __init__(self, digit):
        self.digit = digit 

class Number:
    def __init__(self, digit):
        # digit is actually a digit object!
        self.number = int(digit.digit)

    def printer(self):
        return self.number

# Creating instances of Digit and Number
digit1 = Digit("5") # digit1.digit = "5"
Number1 = Number(digit1) # Number1.number = 5
Number2 = Number(Digit("3")) #Number2.number = 3

print(Number1.printer() > Number2.printer()) # Number1.number > Number2.number; 5 >3

True

## Question 6

In [130]:
import pandas as pd

data = [
    ["Alice", "APS106", 92, "MY150"],
    ["Bob", "CIV185", 95, "BA1150"],
    ["Charlie", "APS112", 73, "MY150"],
    ["Diana", "MAT187", 88, "MC252"]
]
columns = ["Name", "Subject", "Grade", "Location"]

students_df = pd.DataFrame(data, columns=columns)
students_df.sort_values(by = "Name")
students_df.loc[0:2, "Name":"Grade"].iloc[-2, :]

Name          Bob
Subject    CIV185
Grade          95
Name: 1, dtype: object

## Question 7

In [ ]:
i = 0
results = []
while i < 2:
    for num in range(3, 5):
        if i % 2 == 0:
            results.append((i, num, "Even"))
        else:
            results.append((i, num, "Odd"))
    i += 1

print(results)

## Question 8

In [ ]:
input_string = "  Hello World.  "
input_string = input_string.strip().replace(" ", "_").upper()
input_string = input_string.replace('World','APS106')
print(input_string)

## Long Questions

### Text File Formatter

Write a program that iterates through the comma-separated file `weekly_temperatures.txt`, and writes each weekâ€™s temperature (represented by an individual row) to a nested list `weekly_temperatures`.

In [131]:

with open("weekly_temperatures.txt", "r") as file:
    
    new = file.readlines()
    

print(new)

['20, 22, 21, 19, 18, 17, 21\n', '22, 24, 23, 25, 26, 24, 22\n', '21, 23, 22, 20, 19, 20, 21']

In [133]:
var = '20, 22, 21, 19, 18, 17, 21'
print(var.split(','))

['20', ' 22', ' 21', ' 19', ' 18', ' 17', ' 21']

In [135]:
weekly_temperatures = []
with open("weekly_temperatures.txt", "r") as file:    
    for row in file.readlines():  # break down file into rows     
        row = row.strip('\n')  # remove any newline      
        temperatures = []       
        for temperature in row.split(','): # loop for individual row
            
            temperatures.append(int(temperature))
        
        weekly_temperatures.append(temperatures) # append individ week to weekly_temp
    
    print(weekly_temperatures)

[[20, 22, 21, 19, 18, 17, 21], [22, 24, 23, 25, 26, 24, 22], [21, 23, 22, 20, 19, 20, 21]]

### Pet Database

Write a `PetDatabase` class that manages a collection of pets as a Python dictionary with the `owner_name` as the key and their `pet_name` as the value. Note that an individual owner may have more than one pet (hint: use a list for the values). The class should allow owners and pets to be added to and removed from the database, and it should provide a way to search for all pets from a particular owner. If you try print your database object instance, it should return the dictionary with the owners and pets.

In [ ]:
class PetDatabase():
    
    
    ...

In [ ]:
pet_db = PetDatabase()

pet_db.add_pet("Tisha", "Katia")
pet_db.add_pet("Catonio Banderas", "Ben")
pet_db.add_pet("Nugget", "Katia")
pet_db.add_pet("Moody", "Katia")

pet_db.remove_pet("Moody", "Katia") # remove Moody

print(pet_db.find_pets_by_owner("Ben")) # Expected output: ['Catonio Banderas']

print(pet_db)

### String Scramble

Write a function `scramble_items` that takes as input a list of strings, ints, floats or a combination of the three types and returns a list of strings with their characters scrambled. The scrambling process will be performed on each item in the list based on indices: characters with even indices are all placed after the characters with odd indices. For example, if the string is `"Engineers!"` then the scrambled string will he `"nier! Egnes"`

In [136]:
def scramble_items(sample_list):
    """[item, item,... ,item] â€”> [str, str,... ,str] 
    Input: list of items that could be int, float, or string. 
    Output: list of scrambled strings. """
    scrambled_items = []
    for item in sample_list: # loop through all samples
        
        item = str(item) # convert to a string
        
        odd_char = ''
        even_char = ''
        
        for index in range(len(item)): # iterate through each string
             
            if index % 2 == 0:
                even_char += item[index]
            
            else:
                odd_char += item[index]
                
        result_string = odd_char + even_char
        scrambled_items.append(result_string)
        
    return scrambled_items

In [137]:
sample_list = ['Elon Tusk', 420, 'Mars Rd. ' , "Engineers!"] 
new_list = scramble_items(sample_list) 
print(new_list)  # Output: ['lnTsEo uk', '240', 'asR.Mr d', '451332'

['lnTsEo uk', '240', 'asR.Mr d ', 'nier!Egnes']