# APS106 - Fundamentals of Computer Programming
## Week 8 | Lecture 1 (8.2) - dictionaries

### This Week
| Lecture | Topics |
| --- | --- |
| 8.1 | tuples and sets |
| **8.2** | **dictionaries** |
| 8.3 | Design Problem: Wordle Part 1 |

### Lecture Structure
1. [Dictionaries](#section1)
2. [Dictionary Operations](#section2)
3. [Dictionary Methods](#section3)
4. [Breakout Session 1](#section4)
5. [Iterating](#section5)
6. [Breakout Session 2](#section6)
7. [Dictionary Inversion](#section7)
8. [Breakout Session 3](#section8)
9. [Dictionaries as Data Structures](#section9)

<a id='section1'></a>
## 1. Dictionaries
We can store student grades.

In [156]:
grades = {'Tina': 'A+', 'Brad': 'C-'}
print(grades)

{'Tina': 'A+', 'Brad': 'C-'}

Use `tuples` are keys.

In [157]:
directions = {(1, 0): 'East',
              (0, 1): 'North',
              (-1, 0): 'West',
              (0, -1): 'South'}
print(directions)

{(1, 0): 'East', (0, 1): 'North', (-1, 0): 'West', (0, -1): 'South'}

We can even place dictionaries within dictionaries.

In [158]:
users = {'0323442785': {'first name': 'Sebastian',
                        'last name': 'Goodfellow',
                        'address': '555 Code Street',
                        'phone number': '555-7654'},
         '9764327492': {'first name': 'Ben',
                        'last name': 'Kinsella',
                        'address': '555 Python Street',
                        'phone number': '555-2345'}}
print(users)

{'0323442785': {'first name': 'Sebastian', 'last name': 'Goodfellow', 'address': '555 Code Street', 'phone number': '555-7654'}, '9764327492': {'first name': 'Ben', 'last name': 'Kinsella', 'address': '555 Python Street', 'phone number': '555-2345'}}

Now, this isn't the easiest `print` output to read. I have created a function called `dict_print` to allow you to generate nicer print outputs for certain dictionaties.

In [159]:
from utils import dict_print
dict_print(users)

{
    "0323442785": {
        "address": "555 Code Street",
        "first name": "Sebastian",
        "last name": "Goodfellow",
        "phone number": "555-7654"
    },
    "9764327492": {
        "address": "555 Python Street",
        "first name": "Ben",
        "last name": "Kinsella",
        "phone number": "555-2345"
    }
}

<a id='section2'></a>
## 2. Dictionary Operations
The table below shows some common `dictionary` operations.

Operation|Description|Example code
---------|-----------|------------
my_dict[key]|Indexing operation – retrieves the value associated with key.|john_grade = my_dict['John']
my_dict[key] = value|Adds an entry if the entry does not exist, else modifies the existing entry.|	my_dict['John'] = 'B+'
del my_dict[key]|Deletes the key:value from a dict.|del my_dict['John']
key in my_dict|Tests for existence of key in my_dict|if 'John' in my_dict:   ...

Let's start with the following `dictionary`.

In [160]:
grades = {'Tina': 'A+', 'Omid': 'A-', 'Lenny': 'B-', 'Maggie': 'C+'}
print(grades)

{'Tina': 'A+', 'Omid': 'A-', 'Lenny': 'B-', 'Maggie': 'C+'}

#### Indexing
Retrieve the `value` associated with a `key`.

Retrieve the `value` associated with the `key` `'Omid'`.

In [161]:
print(grades['Omid'])

A-

Retrieve the `value` associated with the `key` `'Maggie'`.

In [162]:
print(grades['Maggie'])

C+

Retrieve the `value` associated with the `key` `'Ben'`.

In [163]:
print(grades['Ben'])

KeyError: 'Ben'

#### Add or Modify Entry
Adds an entry if the entry does not exist, otherwise it modifies the existing entry.

Modify the `value` associated with the `key` `'Lenny'`.

In [164]:
print(grades)

{'Tina': 'A+', 'Omid': 'A-', 'Lenny': 'B-', 'Maggie': 'C+'}

In [165]:
grades['Lenny'] = 'B'
print(grades)

{'Tina': 'A+', 'Omid': 'A-', 'Lenny': 'B', 'Maggie': 'C+'}

Add a `key: value` pair for `'Ben'`.

In [166]:
grades['Ben'] = 'F'
print(grades)

{'Tina': 'A+', 'Omid': 'A-', 'Lenny': 'B', 'Maggie': 'C+', 'Ben': 'F'}

#### Delete Entry
Removes the key and it’s value from a dictionary.

It turns out `'Ben'` didn't take our course so we need to remove him and his grade from the `dictionary`.

In [167]:
print(grades)

{'Tina': 'A+', 'Omid': 'A-', 'Lenny': 'B', 'Maggie': 'C+', 'Ben': 'F'}

In [168]:
del grades['Ben']
print(grades)

{'Tina': 'A+', 'Omid': 'A-', 'Lenny': 'B', 'Maggie': 'C+'}

#### Check for `key`
Tests for existence of key in the dictionary (it does not check the values).

Check to see if `'Tina'` is in the `dictionary`.

In [169]:
'Tina' in grades

True

Check to see if `'Ben'` is in the `dictionary`.

In [170]:
'Ben' in grades

False

Lastly, let's check to see if the grade `'A+'` is in the `dictionary`.

In [171]:
'A+' in grades

False

#### Indexing Nested Dictionaries
Dictionaries can, of course, be nested.

In [172]:
students = {}
print(students)

{}

In [173]:
students["John"] = {"Grade": "A+", "StudentID": 22321}
print(students)

{'John': {'Grade': 'A+', 'StudentID': 22321}}

- The variable `students` is first created as an empty dictionary. 
- Then a new entry is added with the key `'John'` and the value associated with `John` is another dictionary. 
- Indexing operations can be applied to the nested dictionary by using consecutive sets of brackets `[][][][]` just like for nested lists.

In [174]:
print(students)

{'John': {'Grade': 'A+', 'StudentID': 22321}}

In [175]:
print(students["John"])

{'Grade': 'A+', 'StudentID': 22321}

In [176]:
print(students["John"]["Grade"])

A+

#### Quick Aside on { } and Sets.

In [177]:
data = {'Ben': 'F'}
print(type(data))

<class 'dict'>

In [178]:
data = {'ford', 'tesla', 'bmw'}
print(type(data))

<class 'set'>

In [179]:
data = {}
print(type(data))

<class 'dict'>

How do we create an empty set?

In [180]:
data = set()
print(type(data))

<class 'set'>

<a id='section3'></a>
## 3. Dictionary Methods
Like `lists`, `tuples`, and `sets`, `dictionaries` are objects and have methods that can be applied on them.

In [181]:
help(dict)

Help on class dict in module builtins:

class dict(object)
 |  dict() -> new empty dictionary
 |  dict(mapping) -> new dictionary initialized from a mapping object's
 |      (key, value) pairs
 |  dict(iterable) -> new dictionary initialized as if via:
 |      d = {}
 |      for k, v in iterable:
 |          d[k] = v
 |  dict(**kwargs) -> new dictionary initialized with the name=value pairs
 |      in the keyword argument list.  For example:  dict(one=1, two=2)
 |
 |  Built-in subclasses:
 |      StgDict
 |
 |  Methods defined here:
 |
 |  __contains__(self, key, /)
 |      True if the dictionary has the specified key, else False.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __ior__(self, value, /)
 |      Return self|=value.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the dict keys.
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(...)
 |      D.__sizeof__() -> size of D in memory, in bytes
 |
 |  clear(...)
 |      D.clear() -> None.  Remove all items from D.
 |
 |  copy(...)
 |      D.copy() -> a shallow copy of D
 |
 |  get(self, key, default=None, /)
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  items(...)
 |      D.items() -> a set-like object providing a view on D's items
 |
 |  keys(...)
 |      D.keys() -> a set-like object providing a view on D's keys
 |
 |  pop(...)
 |      D.pop(k[,d]) -> v, remove specified key and return the corresponding value.
 |
 |      If the key is not found, return the default if given; otherwise,
 |      raise a KeyError.
 |
 |  popitem(self, /)
 |      Remove and return a (key, value) pair as a 2-tuple.
 |
 |      Pairs are returned in LIFO (last-in, first-out) order.
 |      Raises KeyError if the dict is empty.
 |
 |  setdefault(self, key, default=None, /)
 |      Insert key with a value of default if key is not in the dictionary.
 |
 |      Return the value for key if key is in the dictionary, else default.
 |
 |  update(...)
 |      D.update([E, ]**F) -> None.  Update D from dict/iterable E and F.
 |      If E is present and has a .keys() method, then does:  for k in E: D[k] = E[k]
 |      If E is present and lacks a .keys() method, then does:  for k, v in E: D[k] = v
 |      In either case, this is followed by: for k in F:  D[k] = F[k]
 |
 |  values(...)
 |      D.values() -> an object providing a view on D's values
 |
 |  ----------------------------------------------------------------------
 |  Class methods defined here:
 |
 |  __class_getitem__(...) from builtins.type
 |      See PEP 585
 |
 |  fromkeys(iterable, value=None, /) from builtins.type
 |      Create a new dictionary with keys from iterable and values set to value.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

Let's look at some examples.

### `.keys()`
Returns a set-like object containing all keys found in a given dictionary.

In [182]:
friends = {"Bob": 32, "Jane": 42, 'Juan': 38}
print(friends)

{'Bob': 32, 'Jane': 42, 'Juan': 38}

In [183]:
print(friends.keys())

dict_keys(['Bob', 'Jane', 'Juan'])

In [185]:
list(friends.keys())[0]

'Bob'

hmmmmm, why a set-like object?

In [ ]:
print({'hi': 10, 'hi': 1, 'hi': -1})

### `.values()`
Returns a list-like object containing all values found in a given dictionary.

In [186]:
friends = {"Bob": 32, "Jane": 42, 'Juan': 38}
print(friends)

{'Bob': 32, 'Jane': 42, 'Juan': 38}

In [187]:
print(friends.values())

dict_values([32, 42, 38])

### `.items()`
Returns a list-like object containing tuples of `key-value-pairs`.

In [188]:
friends = {"Bob": 32, "Jane": 42, 'Juan': 38}
print(friends)

{'Bob': 32, 'Jane': 42, 'Juan': 38}

In [189]:
print(friends.items())

dict_items([('Bob', 32), ('Jane', 42), ('Juan', 38)])

### `.clear()`
Remove all the elements from a dictionary.

In [190]:
friends = {"Bob": 32, "Jane": 42, 'Juan': 38}
print(friends)

{'Bob': 32, 'Jane': 42, 'Juan': 38}

In [191]:
friends.clear()
print(friends)

{}

### `.get()`
Returns the value of the key entry from the dict.

In [192]:
friends = {"Bob": 32, "Jane": 42, 'Juan': 38}
print(friends)

{'Bob': 32, 'Jane': 42, 'Juan': 38}

Let's try getting the `value` for `'Jane'`.

In [193]:
print(friends.get('Jane'))

42

Now, let's try getting the `value` for a `key` that doesn't exist.

In [194]:
print(friends.get('Ava'))

None

If we want to specify what gets returned if the `key` doesn't exist, we can include a second argument.

In [195]:
print(friends.get('Ava', 'N/A'))

N/A

`.get` is a lot like `dict['key']` but it will handle the key not existing without throwing an error.

In [196]:
print(friends['Ava'])

KeyError: 'Ava'

### `.update()`
Merges a dictionary `dict_1` with another dictionary `dict_2`. Existing entries in `dict_1` are overwritten if the same keys exist in `dict_2`.

In [197]:
dict_1 = {"Bob": 32, "Jane": 42, 'Juan': 38}
dict_2 = {'Seb': 36, 'Ben': 30}
print(dict_1)
print(dict_2)

{'Bob': 32, 'Jane': 42, 'Juan': 38}
{'Seb': 36, 'Ben': 30}

In [198]:
dict_1.update(dict_2)
print(dict_1)

{'Bob': 32, 'Jane': 42, 'Juan': 38, 'Seb': 36, 'Ben': 30}

Existing entries in `dict_1` are overwritten if the same keys exist in `dict_2`. 

Let's try again with a the key `Seb` being in each dictionary.

In [ ]:
dict_1 = {"Bob": 32, "Jane": 42, 'Juan': 38, 'Seb': 25}
dict_2 = {'Seb': 36, 'Ben': 30}
print(dict_1)
print(dict_2)

In [199]:
dict_1.update(dict_2)
print(dict_1)

{'Bob': 32, 'Jane': 42, 'Juan': 38, 'Seb': 36, 'Ben': 30}

### `.pop()`
Removes and returns the `value` corresponding to the specified `key` from the dictionary. If `key` does not exist, then `None` or a user-specified default is returned.

In [200]:
friends = {"Bob": 32, "Jane": 42, 'Juan': 38}
print(friends)

{'Bob': 32, 'Jane': 42, 'Juan': 38}

In [201]:
val = friends.pop("Bob")
print(val)
print(friends)

32
{'Jane': 42, 'Juan': 38}

In [202]:
val2 = friends.pop("John")
print(val2)
print(friends)

KeyError: 'John'

In [204]:
val2 = friends.pop("John", "Missing KEy")
print(val2)
print(friends)

Missing KEy
{'Jane': 42, 'Juan': 38}

<a id='section4'></a>
## 4. Breakout Session 1
Complete the following exercises.

#### Exercise 1
Merge two Python `dictionaries` `dict1` and `dict2` into one.

In [206]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

# Write your code here
dict1.update(dict2)
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

#### Exercise 2
Print Mike's Physics midterm grade in `dict3`.

In [211]:
dict3 = {
    "class": {
        "student": {
            "name": "Mike",
            "marks": {
                "physics": {
                    "midterm": 67, 
                    "exam": 81
                },
                "history": {
                    "midterm": 56, 
                    "exam": 78
                }
            }
        }
    }
}

# Write your code here
print(dict3['class']['student']['marks']['physics']['midterm'])

67

#### Exercise 3
Write a Python expression that evaluated to `True` if the value 200 exists in the `keys` or `values` of `dict4`.

In [212]:
dict4 = {'a': 100, 'b': 200, 'c': 300}

# Write your code here
200 in dict4.keys() or 200 in dict4.values()

True

#### Exercise 4
Write a program to rename the `'city'` key to be called `'location'` in the following dictionary.

In [214]:
dict5 = {
  "name": "Seb",
  "age": 36,
  "salary": 8000,
  "city": "Toronto"
}

# Write your code here
dict5['location'] = dict5.pop('city')
print(dict5)

{'name': 'Seb', 'age': 36, 'salary': 8000, 'location': 'Toronto'}

<a id='section5'></a>
## 5. Iterating
Let's start with a dictionary of employee information.

In [215]:
employees = {
    'emp1': {'name': 'John', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 5300},
    'emp4': {'name': 'Ava', 'salary': 9870},
    'emp5': {'name': 'Qi', 'salary': 2450},
    'emp6': {'name': 'Ben', 'salary': 4560},
    'emp7': {'name': 'Seb', 'salary': 8900}
}

### Default: `for key in employees:`
The default interation for a dicitonary is over the `keys`.

In [216]:
for employee in employees:
    print(employee)

emp1
emp2
emp3
emp4
emp5
emp6
emp7

### Keys: `for key in employees.key():`
If you want to be explicit and write slightly more readable code, you can use the `.keys()` method.

In [217]:
for employee in employees.keys():
    print(employee)

emp1
emp2
emp3
emp4
emp5
emp6
emp7

### Values: `for value in employees.values():`
To iterature through the dictionary values, you can use the `.values()` method.

In [218]:
for employee_info in employees.values():
    print(employee_info)

{'name': 'John', 'salary': 7500}
{'name': 'Emma', 'salary': 8000}
{'name': 'Brad', 'salary': 5300}
{'name': 'Ava', 'salary': 9870}
{'name': 'Qi', 'salary': 2450}
{'name': 'Ben', 'salary': 4560}
{'name': 'Seb', 'salary': 8900}

### Item: `for item in employees.items():`
If you want to iterate through the items (key:value pairs) in a dictionary, you can use the `.items()` method.

In [219]:
for item in employees.items():
    print(item)

('emp1', {'name': 'John', 'salary': 7500})
('emp2', {'name': 'Emma', 'salary': 8000})
('emp3', {'name': 'Brad', 'salary': 5300})
('emp4', {'name': 'Ava', 'salary': 9870})
('emp5', {'name': 'Qi', 'salary': 2450})
('emp6', {'name': 'Ben', 'salary': 4560})
('emp7', {'name': 'Seb', 'salary': 8900})

You can see that we get a bunch of `tuples` and from last lecture, we learned that we can unpack them.

In [220]:
for employee, employee_info in employees.items():
    print(employee, '   ', employee_info)

emp1     {'name': 'John', 'salary': 7500}
emp2     {'name': 'Emma', 'salary': 8000}
emp3     {'name': 'Brad', 'salary': 5300}
emp4     {'name': 'Ava', 'salary': 9870}
emp5     {'name': 'Qi', 'salary': 2450}
emp6     {'name': 'Ben', 'salary': 4560}
emp7     {'name': 'Seb', 'salary': 8900}

<a id='section6'></a>
## 6. Breakout Session 2
### `#feelthebern`
Below is a picture of Vermont Senator Bernie Sanders at the inauguration of Joe Biden sporting a pair of hand-knit mittens.
<br>
<img src="images/sanders_mittens.jpg" alt="drawing" width="400"/>
<br>
We have sourced three tweets from Bernie and have made them available in the file `data.json`. Never seen a `.json` file before? Thats ok, you don't need to know what it is. We've made a simple function `load_data` that imports the data as a dictionary.

In the code below, we're importing a `JOSN` file containing Bernie's tweets and assigning them to a variable called `tweets`.

In [221]:
from utils import load_data
tweets = load_data()

What type of data structure is `tweets`?

In [222]:
type(tweets)

list

Ok, `tweets` is a list. Let's print its contents.

In [223]:
print(tweets)

[{'created_at': 'Sat Feb 06 22:43:03 +0000 2021', 'id': 1358184460794163202, 'full_text': 'Why would we want to impeach and convict Donald Trump – a president who is now out of office? Because it must be made clear that no president, now or in the future, can lead an insurrection against the government he or she is sworn to protect.', 'retweet_count': 2272, 'favorite_count': 13299}, {'created_at': 'Sat Feb 06 21:09:04 +0000 2021', 'id': 1358160808627363847, 'full_text': 'Walton family wealth in 2018: $146 billion\nWalton family wealth in 2021: $228 billion\n\nWalmart minimum wage in 2018: $11 an hour\nWalmart minimum wage in 2021: $11 an hour\n\nIt is a moral outrage that the richest family in America pays workers at Walmart starvation wages.', 'retweet_count': 8354, 'favorite_count': 39896}, {'created_at': 'Fri Feb 05 22:32:02 +0000 2021', 'id': 1357819298841059328, 'full_text': 'The budget resolution the Senate passed today puts us on a path to finally raise the minimum wage to $15 an hour. It is a moral imperative in the richest country in the world that no one is forced to live on a starvation wage, and the American Rescue Plan will get it done.', 'retweet_count': 3702, 'favorite_count': 34128}]

Hmmm, this is hard to read, let's try using `dict_print()`.

In [224]:
from utils import dict_print
dict_print(tweets)

[
    {
        "created_at": "Sat Feb 06 22:43:03 +0000 2021",
        "favorite_count": 13299,
        "full_text": "Why would we want to impeach and convict Donald Trump \u2013 a president who is now out of office? Because it must be made clear that no president, now or in the future, can lead an insurrection against the government he or she is sworn to protect.",
        "id": 1358184460794163202,
        "retweet_count": 2272
    },
    {
        "created_at": "Sat Feb 06 21:09:04 +0000 2021",
        "favorite_count": 39896,
        "full_text": "Walton family wealth in 2018: $146 billion\nWalton family wealth in 2021: $228 billion\n\nWalmart minimum wage in 2018: $11 an hour\nWalmart minimum wage in 2021: $11 an hour\n\nIt is a moral outrage that the richest family in America pays workers at Walmart starvation wages.",
        "id": 1358160808627363847,
        "retweet_count": 8354
    },
    {
        "created_at": "Fri Feb 05 22:32:02 +0000 2021",
        "favorite_count": 34128,
        "full_text": "The budget resolution the Senate passed today puts us on a path to finally raise the minimum wage to $15 an hour. It is a moral imperative in the richest country in the world that no one is forced to live on a starvation wage, and the American Rescue Plan will get it done.",
        "id": 1357819298841059328,
        "retweet_count": 3702
    }
]

`tweets` looks to be a `list` of `dictionaries`. It should look something like this:

```python
[{tweet1}, {tweet2}, {tweet3}]
```

We're familiar with these data types. Let's try printing the firtst item in the `list` `tweets`.

In [226]:
dict_print(tweets[1])

{
    "created_at": "Sat Feb 06 21:09:04 +0000 2021",
    "favorite_count": 39896,
    "full_text": "Walton family wealth in 2018: $146 billion\nWalton family wealth in 2021: $228 billion\n\nWalmart minimum wage in 2018: $11 an hour\nWalmart minimum wage in 2021: $11 an hour\n\nIt is a moral outrage that the richest family in America pays workers at Walmart starvation wages.",
    "id": 1358160808627363847,
    "retweet_count": 8354
}

This looks like a `dictionary` containing information about one tweet from Bernie. We know that the file we imported contains three tweets, so let's use `len()` to see how many tweets are in the list.

In [227]:
len(tweets)

3

Three! I think we understand what we're dealing with now. Let's see what `keys` are in a tweet `dictionary`.

### Question
Write a function that returns the `"id"` of the tweet with the highest `"retweet_count"` and what that retweet count was.

**Example of first `tweet`** `tweets[0]`

```python
{
    "created_at": "Sat Feb 06 22:43:03 +0000 2021",
    "favorite_count": 13299,
    "full_text": "Why would we want to impeach and convict Donald Trump \u2013 a president who is now out of office? Because it must be made clear that no president, now or in the future, can lead an insurrection against the government he or she is sworn to protect.",
    "id": 1358184460794163202,
    "retweet_count": 2272
}
```

In [228]:
def find_max_retweets(tweets):
    """
    (list(dict, dict, dict, ...)) -> int, int
    Returns the "id" of the tweet with the highest "retweet_count" and what that retweet count was.
    
    Example:
    find_max_retweets([{"id": 234, "retweet_count": 10}, {"id": 467, "retweet_count": 3}, {"id": 865, "retweet_count": 8}])
    >>> 234, 10
    """
    max_retweets = 0
    tweet_id = None
    
    for tweet in tweets:
        
        if tweet['retweet_count'] > max_retweets:
            max_retweets = tweet['retweet_count']
            tweet_id = tweet['id']
            
    return (max_retweets, tweet_id)

#### Test
Expected output.
```python
>>> max_retweets, tweet_id = find_max_retweets(tweets)
'tweet id 1358160808627363847 had the most retweets at 8354 '
```

In [229]:
max_retweets, tweet_id = find_max_retweets(tweets)

print('tweet id', tweet_id, 'had the most retweets at', max_retweets)

tweet id 1358160808627363847 had the most retweets at 8354

<a id='section7'></a>
## 7. Dictionary Inversion
Reversing a dictionary is not the same as reversing a list; it entails inverting or switching the dictionary's key and value parts.

Let's consider our `eng2spa` dictionary.

In [ ]:
eng2spa = {"two": "dos", "one": "uno"}

Now, let's try to invert it so it looks like this:
```python
spa2eng = {"dos": "two", "uno": "one"}
```

In [230]:
spa2eng = {}

for eng_word in eng2spa.keys():
    spa_word = eng2spa[eng_word]
    spa2eng[spa_word] = eng_word
    
print(spa2eng)

{'dos': 'two', 'uno': 'one'}

Let's try the same thing with a more complex dictionary of movies (`keys`) and lead actors (`values`).

In [231]:
movies = {
    'Inception': 'Leonardo DiCaprio',
    'Titanic': 'Leonardo DiCaprio',
    'Snatch': 'Brad Pitt',
    'I, Tonya': 'Margo Robbie',
    'Moneyball': 'Brad Pitt', 
    'Troy': 'Brad Pitt',
    'The Revenant': 'Leonardo DiCaprio' 
}

In [232]:
from utils import dict_print
dict_print(movies)

{
    "I, Tonya": "Margo Robbie",
    "Inception": "Leonardo DiCaprio",
    "Moneyball": "Brad Pitt",
    "Snatch": "Brad Pitt",
    "The Revenant": "Leonardo DiCaprio",
    "Titanic": "Leonardo DiCaprio",
    "Troy": "Brad Pitt"
}

In [233]:
actors = {}

for movie in movies:
    actor = movies[movie]
    actors[actor] = movie
    
dict_print(actors)

{
    "Brad Pitt": "Troy",
    "Leonardo DiCaprio": "The Revenant",
    "Margo Robbie": "I, Tonya"
}

<a id='section8'></a>
## 8. Breakout Session 3

What should you notice about the inverted dictionary? How do we fix this?

This is what I want:

```python
{
    "Brad Pitt": [
        "Snatch",
        "Moneyball",
        "Troy"
    ],
    "Leonardo DiCaprio": [
        "Inception",
        "Titanic",
        "The Revenant"
    ],
    "Margo Robbie": [
        "I, Tonya"
    ]
}
```

In [234]:
actors = {}

for movie in movies:
    
    actor = movies[movie]
    
    if actor not in actors:
        actors[actor] = [movie]
    else:
        actors[actor].append(movie)
    
dict_print(actors)

{
    "Brad Pitt": [
        "Snatch",
        "Moneyball",
        "Troy"
    ],
    "Leonardo DiCaprio": [
        "Inception",
        "Titanic",
        "The Revenant"
    ],
    "Margo Robbie": [
        "I, Tonya"
    ]
}

<a id='section9'></a>
## 9. Dictionaries as Data Structures
`Dictionaries` are useful as `"quick and dirty"` data structures. 

For production code that will be used and maintained for a long time it would be better to use `objects` - we'll see those in a few weeks.

Below is a dictionary (indexed by a string - the students name), with another `dictionary` as a value, index by strings `'Homework'`, `'Midterm'`, `'Final'` and with elements (of the inner `dictionary` being lists and ints)

In [ ]:
students = {
    'John Ponting': {
        'Homework': [79, 80, 74],
        'Midterm': 85,
        'Final': 92
    },
    'Jacqueline Kallis': {
        'Homework': [90, 92, 65],
        'Midterm': 87,
        'Final': 75
    },
    'Ricky Bobby': {
        'Homework': [50, 52, 78],
        'Midterm': 40,
        'Final': 65
    },
}

Let's say a students `course_mark` is calculated using the following formula.

```python
course_mark = (0.1 * averge homework mark) + (0.4 * midterm mark) + (0.5 * final mark)
```
Let's write some code to calculate the `course_mark` for a student specificed by user input.

In [ ]:
user_input = ''

while user_input != 'exit':    
    
    user_input = input('Enter student name: ')
    
    if user_input in students.keys():

        # Get values from nested dict
        homework = students[user_input]['Homework']
        midterm = students[user_input]['Midterm']
        final = students[user_input]['Final']

        # Compute student course mark 
        course_mark = (0.1 * sum(homework) / len(homework) + 
                       0.4 * midterm + 
                       0.5 * final)

        # Print course mark
        print(user_input, "'s final mark is:", course_mark, '\n')
        
    else:
        print(user_input, 'is not a student in this course.\n')