In [ ]:
# APS106 - Fundamentals of Computer Programming
## Week 6 | Lecture 1 (6.2) - More `for` Loops

### This Week
| Lecture | Topics |
| --- | --- |
| 6.1 | for-loops: `while` is so last month |
| **6.2** | **for-loops on indices, nested loops** |
| 6.3 | Design Problem: Cryptography |

### Lecture Structure
1. [Breakout Session 1](#section1)
2. [Using `range()`](#section2)
3. [Example 1](#section3)
4. [Breakout Session 2](#section4)
5. [Nested for Loops](#section5)
6. [Turtles](#section6)
7. [Grid](#section7)
8. [Breakout Session 3](#section8)
9. [Advanced Turtles](#section9)

<a id='section1'></a>
## 1. Breakout Session 1
We need to remove all punctuation from the text of each tweet so we can conducted a more detailed analysis. If any of the characters in `punctuations` are in a tweet, we want to replace them with a space `' '`.

```python
punctuations = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
```

First, let's look at two of Dean Yip's tweets.

In [ ]:
tweet_1 = """
Totally agree. - so awesome to see students in person -  
and not just students but faculty, staff - and everyone in the  
@uoftengineering community -
"""
print(tweet_1)

In [ ]:
tweet_2 = """
great to hear from Prof. Bussman, Chair of @uoftmie 
about all the stuff that MechE do .... - amazing  
breadth of impact... exciting stuff across so many domains
"""
print(tweet_2)

Hint: `string.replace()`

Complete the function below.

In [ ]:
def remove_punctuation(string):
    
    """
    (str) -> str
    Return string with puncutations replaced by a single space.
    """
    
    # Set punctuations
    punctuations = '!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'
    
    # Make string lower case
    string = string.lower()
    
    # Loop through characters in string 
    for character in string:
        
        # Check if the character is a punctuations
        if character in punctuations:
            
            # Replace write space with a string
            string = string.replace(character, ' ')
    
    return string

Let's test out our function.
#### Tweet 1

In [ ]:
print('Original Text')
print(tweet_1)
print('\nProcessed Text')
print(remove_punctuation(tweet_1))

#### Tweet 2

In [ ]:
print('Original Text')
print(tweet_2)
print('\nProcessed Text')
print(remove_punctuation(tweet_2))

<a id='section2'></a>
## 2. Using `range()`
Python has a built-in function called range() that is useful to use when you want to generate a sequence of numbers. You can type help(range) in the Python interpreter.

In [ ]:
help(range)

`range()` produces a sequence of numbers starting at start and up to but *not including* stop. Just like in slicing.

`range()` is typically used in a for loop to iterate over a sequence of numbers. 

**What Can You Do with range()?**

You can tell `range()` what index to start at if you don't want to start at the default which is 0.

In [ ]:
chrome_4 = "ATGGGCAATCGATGGCCTAATCTCTCTAAG"

for i in range(1, len(chrome_4)):
    print(i, chrome_4[i])

You can even specify the "step" for range: how do you increment the numbers?. The default step size is 1, which means that numbers increment by 1. The example below starts at index 1 and its step size is three (goes to every third index).

In [ ]:
for i in range(1, len(chrome_4), 3):
    print(i, chrome_4[i])

This also gives us flexibility to process only part of a string. For example, we can print only the first half of the list:

In [ ]:
for i in range(len(chrome_4) // 2):
    print(chrome_4[i], end=" ")

More examples

In [ ]:
# Iterate over the numbers 0, 1, 2, 3, and 4
for i in range(5):
    print (i)

In [ ]:
# Iterate over the numbers 2, 3, and 4
for i in range(2, 5):
    print (i)

In [ ]:
# Iterate over the numbers 3, 6, 9, 12, 15, and 18
for i in range(3, 20, 3):
    print (i)

<a id='section3'></a>
## 3. Example 1
Add up all the even numbers between 1 and 100 using a `for` loop and `range()`.

```python
1 + 2 + 3 + ... + 98 + 99 + 100
```

Write your code here.

In [ ]:
total = 0
for number in range(2, 101, 2):
    total += number
print('sum(2 + 4 + ... + 96 + 98 + 100) =', total)

<a id='section4'></a>
## 4. Breakout Session 2
Write a function that returns the number of times that a character and the next character are the same.  
```python
count_adjacent_repeats('abccdeffggh')
>>> 3

count_adjacent_repeats('lfkdgdwefopkgtrjhhjhhjjj')
>>> 4
```

In [ ]:
def count_adjacent_repeats(s):
    """
    (str) -> int
    Returns the number of times that two consecutive characters are the same.
    """
    repeats = 0
    
    for i in range(len(s) - 1):
        if s[i] == s[i + 1]:
            repeats += 1

    return repeats

#### Test 1
Answer: `3`

In [ ]:
print(count_adjacent_repeats('abccdeffggh'))

#### Test 2
Answer: `4`

In [ ]:
print(count_adjacent_repeats('lfkdgdwefopkgtrjhhjhhjjj'))

<a id='section5'></a>
## 5. Nested `for` Loops

In [ ]:
for i in range(10, 13):
    for j in range(1, 5):
        print(i, j)

What is going on here? Let's add some `print` statements to help jus understand.

In [ ]:
for i in range(10, 13):
    print("Outer loop. i =", i)
    for j in range(1, 5):
        print("  Inner loop:", i, j)

Notice that when `i` is 10, the inner loop executes in its entirety, and only after `j` has ranged from 1 through 4 is `i` incremented to the value 11.

<a id='section6'></a>
## 6. Turtles
Install the Turtles package `mobilechelonian` that renders in the notebook.

In [ ]:
!pip install mobilechelonian

There is a built-in turtles packaged called `turtle` with more functionality but it doesn't render in the notebook. We'll use `mobilechelonian` for an easy introduction to `Turtle`.

### Draw A Straight Line

In [ ]:
# Import the turtle package for notebooks
from mobilechelonian import Turtle

# Instantiate a turtle object
turtle = Turtle()

# Ask the turtle to move forward (to the right) by 100 pixels
turtle.forward(400)

### Moving Around
The turtle starts out at position `(200, 200)`. Top left is `(0, 0)`.

In [ ]:
from mobilechelonian import Turtle

turtle = Turtle()
turtle.speed(10)
turtle.setposition(0, 0)
turtle.setposition(400, 0)
turtle.setposition(400, 400)
turtle.setposition(0, 400)
turtle.setposition(0, 0)

### Rotating
You can can rotate `.left()` or `.right()` relative to the turtle current bearing.

In [ ]:
from mobilechelonian import Turtle

turtle = Turtle()
turtle.left(90)
turtle.left(90)
turtle.right(90)

### Draw A Circle

In [ ]:
from mobilechelonian import Turtle

turtle = Turtle()
turtle.speed(10)
turtle.circle(30)

### Draw A Straight Line Pointing North-East

In [ ]:
from mobilechelonian import Turtle

turtle = Turtle()
turtle.speed(10)
turtle.left(45)
turtle.forward(100)

### Draw A Square

In [ ]:
from mobilechelonian import Turtle

turtle = Turtle()
turtle.speed(10)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)

### Draw A Centered Square

In [ ]:
from mobilechelonian import Turtle

turtle = Turtle()
turtle.speed(10)

# Get to top left
turtle.penup()
turtle.forward(50)
turtle.left(90)
turtle.forward(50)
turtle.left(90)
turtle.pendown()

# Draw square
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)
turtle.forward(100)
turtle.left(90)

<a id='section7'></a>
## 7. Grid

In [ ]:
def marker(x, y, turtle, size):
    """
    (x, y, Turtle, size) -> None
    Draw a square of specified size at coordinate (x,y)
    """
    turtle.penup()
    turtle.setposition(x, y)
    turtle.pendown()
    turtle.setposition(x+size, y)  
    turtle.setposition(x+size, y-size)
    turtle.setposition(x, y-size)
    turtle.setposition(x, y)

In [ ]:
from mobilechelonian import Turtle

turtle = Turtle()
turtle.speed(10)

for x in range(50, 351, 50):
    for y in range(50, 351, 50):

        marker(x, y, turtle, 20)

<a id='section8'></a>
## 8. Breakout Session 3
Using what you learned in the previous section, create the grid patter in the image below.
<br>
<img src="images/breakout_3.png" alt="drawing" width="300"/>
<br>
You should use the previously function `marker(x, y, turtle, size)` below. The function `marker` takes `x` and `y` coodinates, a `turtle` object and a `size`. The `size` controls the size of the box.

In [ ]:
def marker(x, y, turtle, size):
    """
    (x, y, Turtle, size) -> None
    Draw a square of specified size at coordinate (x,y)
    """
    turtle.penup()
    turtle.setposition(x, y)
    turtle.pendown()
    turtle.setposition(x+size, y)  
    turtle.setposition(x+size, y-size)
    turtle.setposition(x, y-size)
    turtle.setposition(x, y)

Using the starter code below, you must:
1. Fill in the `x` and `y` for loops to create a grid with `x = 100, 150, 200, 250, 300` and `y = 100, 150, 200, 250, 300`.
2. Add an additional `for` loop to create three boxes of sizes `10`, `20`, and `30` at each `(x, y)` grid position.

In [ ]:
from mobilechelonian import Turtle

turtle = Turtle()
turtle.speed(5)

for x in range(100, 301, 50):
    for y in range(100, 301, 50):
        for scale in range(10, 31, 10):

            marker(x, y, turtle, scale)

<a id='section9'></a>
## 9. Advanced Turtles
Looking for another challenge? Create a function `draw_polygon(x, y, num_sides, side_length)` that draws a polygon at `(x, y)`.

In [ ]:
from mobilechelonian import Turtle

def draw_polygon(num_sides, side_length, x=200, y=200):
    
    """
    (x, y, num_sides, side_length) -> None
    Draw a polygon with given number of sides, side length and origin.
    """
    
    # Intialize turtle
    turtle = Turtle()
    turtle.speed(10)
    turtle.penup()
    turtle.setposition(x, y)
    
    # Calculate iterior angle at each vertex
    angle = 360.0 // num_sides

    # Loop through vertices
    turtle.pendown()
    for i in range(num_sides): 
        turtle.forward(side_length) 
        turtle.left(angle)
    turtle.penup()

### Test

In [ ]:
draw_polygon(num_sides=6, side_length=30, x=100, y=150)